[Unit]
Description=Transmission BitTorrent Daemon
After=network.target
After=torrent_drive.mount
[Service]
User=pi
Type=notify
ExecStart=transmission-daemon -g /mnt/share/.config/transmission-daemon
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
Requires=torrent_drive.mount
